
:global(*) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Questrial', sans-serif !important; 
}

:global(body) {
    background: #000;
    color: #fff;
    line-height: 1.6;
}

:global(html) {
    scroll-behavior: smooth;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}
/* ================= NAVBAR ================= */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.95);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #1a1a1a;
  z-index: 1000;
  transition: background 0.3s ease-in-out;

  &.scrolled {
    background: rgba(0, 0, 0, 0.98);
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
  }
}

/* ================= LOGO ================= */
.logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-left: 0;

  .logoImg {
    width: 139px;
    height: 73px;
  }
}

.accent {
  color: #e63946;
}

/* ================= NAV LINKS ================= */
.navLinks {
  display: flex;
  gap: 10rem;
  list-style: none;
  transition: all 0.3s ease;

  li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 1.22rem;
    letter-spacing: 0.05em;
    transition: color 0.3s ease;
    font-weight: 400;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 0%;
      height: 2px;
      background-color: #e63946;
      transition: width 0.3s ease;
    }

    &:hover {
      color: #e63946;

      &::after {
        width: 100%;
      }
    }
  }
}

/* ================= HAMBURGER MENU ================= */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 28px;
  height: 20px;
  cursor: pointer;
  z-index: 1100;
  margin-right: 10px;

  span {
    display: block;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  &.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  &.active span:nth-child(2) {
    opacity: 0;
  }

  &.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* ================= MOBILE MENU ================= */
@media (max-width: 992px) {
  .logo {
    margin-left: 0;
  }

  .navLinks {
    gap: 3rem;
  }
}
@media (max-width: 768px) {
  .hamburger {
    display: flex;
    z-index: 1001;
  }

  .contactBtn {
    display: none;
  }

  .navLinks {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 50vh;
    background: rgba(0, 0, 0, 0.95);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.45s ease, opacity 0.45s ease;
    z-index: 1000;
  }

  .navLinks.active {
    transform: translateY(0);
    opacity: 1;
  }

 
  .mobileContact {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;

    button {
      background: linear-gradient(to right, #450121 0%, #a2051a 100%);
      color: #fff;
      border: none;
      padding: 0.75rem 1.5rem;
      border-radius: 0.25rem;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.3s ease;
      text-transform: uppercase;
      font-size: 0.85rem;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
      margin-right: -5rem;

      &:hover {
        background: linear-gradient(
          to right,
          #36011b 0%,
          #890517 100%
        ); // darker hover
        transform: translateY(-2px);
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
      }
    }
  }
}


/* ================= SMALL SCREENS ================= */
@media (max-width: 480px) {
  .navLinks li a {
    font-size: 1.2rem;
  }

  .logoImg {
    width: 110px;
    height: auto;
  }

  .navbar .container {
    padding: 0.8rem 1rem;
  }
}


@media (min-width: 768px) {
    .navLinks {
        display: flex;
    }
}
.hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: left;
  overflow: hidden;


  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 2; 
    background-image:
      repeating-linear-gradient(
        to right,
        rgba(255, 0, 0, 0.15) 0px,
        rgba(255, 0, 0, 0.15) 0.5px,
        transparent 1px,
        transparent 10px
      ),
      repeating-linear-gradient(
        to bottom,
        rgba(255, 0, 0, 0.15) 0px,
        rgba(255, 0, 0, 0.15) 0.5px,
        transparent 1px,
        transparent 10px
      );
    pointer-events: none;
  }

 
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1; 
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, transparent 15%);
    pointer-events: none;
  }

  .heroContent {
    position: absolute !important;
    z-index: 3; 
  }

        h1 {
            width: 913px;
            font-size: 3rem !important;
            font-weight: 100 ;
            margin-bottom: 0rem;
            letter-spacing: 0.1rem;
            line-height: 1;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-left: 5.5rem;
        }

        .tagline {
            letter-spacing: 0.1rem;
            font-size: 1.5rem;
            color: #D53430;
            margin-bottom: -3.5rem;
            font-weight: 400;
            margin-left: 5.5rem;
        }.scrollHint {
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
  text-decoration: none;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  margin-top: 2rem;
  margin-left: 70rem;
  margin-bottom: 1.5rem;
  animation: floatUpDown 1.5s ease-in-out infinite;

  /* Gradient text magic */
  background: linear-gradient(to right, #450121 0%, #A2051A 10%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

   &:hover {
    background: linear-gradient(to right, #f4f4f4 0%, #bd4851 100%);
     background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.03); 
  }
  .icon {
    display: inline-block;
    color: #A2051A;
   margin-top: 8px;
   margin-left: -2px;

   &:hover {
    background: linear-gradient(to right, #91b3b6 0%, #bd4851 100%);
     background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.03); 
  }
  }
}

@keyframes floatUpDown {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
}


    }


@media (min-width: 768px) {
    .heroContent {
        h1 {
            font-size: 4.5rem;
        }
    }

    .tagline {
        font-size: 1.8rem;
    }
}

/* Sections */
.section {
    padding: 6rem 1.5rem;
    text-align: center;

    h2 {
        font-size: 2.5rem;
        font-weight: 700;
        text-align: center;
        margin-bottom: 4rem;
        text-transform: uppercase;
        color: #fff;
    }
}
.about {
  background: #000;
  padding: 4rem 0;
  text-align: center;
  font-family: 'Questrial', sans-serif; 

  h2 {
    color: #fff;
    font-size: 2.5rem;
    letter-spacing: 0.05em;
    margin-bottom: 4rem;
    font-weight: 400;
  }

  .aboutContent {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    flex-direction: column;
    text-align: left;
    padding: 0 2rem;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      text-align: left;
    }
  }

  .aboutImg {
    width: 100%;
    max-width: 550px;
    height: auto;
    border-radius: 1.5px;
    box-shadow: 0 10px 30px rgba(71, 3, 3, 0.5);
  }

  .aboutText {
    max-width: 600px;
    color: #f0eeee;
    font-size: 1.2rem;
    line-height: 1.7;
    letter-spacing: 0.02em;

    p {
      margin-bottom: 1.5rem;
    }

    strong {
      color: #d53430; // red accent
      font-weight: 500;
    }
  }
}
.achievements {
  background: #000;
  padding: 6rem 0;
  text-align: center;
  font-family: 'Questrial', sans-serif;

  h2 {
    color: #fff;
    font-size: 2.5rem;
    letter-spacing: 0.05em;
    margin-bottom: 3rem;
    font-weight: 400;
  }

  .achievementsGrid {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
    justify-content: center;
  }

  .achievementCard {
    background: #121212;
    border: none;
    border-radius: 0;
    padding: 2rem 1.5rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 20px rgba(36, 6, 6, 0.05);
    }

    .achievementTitle {
      font-size: 1rem;
      color: #ffffff;
      line-height: 1.5;
      flex: 1;
    }

    .achievementRank {
      font-family: 'Varela Round', sans-serif; 
      font-size: 2.5rem;
      font-weight: 700;
      letter-spacing: 0.05rem;
      text-transform: lowercase;
      background: none; 
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; 
    }

    &:nth-child(1) .achievementRank,
    &:nth-child(2) .achievementRank,
    &:nth-child(4) .achievementRank {
      background-image: linear-gradient(to right, #fff7c2 0%, #cead00 100%);
    }


    &:nth-child(3) .achievementRank,
    &:nth-child(5) .achievementRank {
      background-image: linear-gradient(to right, #d7d7d7 0%, #7a7a7a 100%);
    }

    &:nth-child(6) .achievementRank {
      background-image: linear-gradient(to right, #ffb88c 0%, #d46600 100%);
    }
  }

  @media (max-width: 768px) {
    .achievementCard {
      flex-direction: column;
      text-align: center;
      gap: 0.5rem;

      .achievementRank {
        text-align: center;
      }
    }
  }
}



/* Leaders Section */
.leaders {
  background: #000;
  padding: 3rem 0rem;
  text-align: center;
  font-family: 'Questrial', sans-serif;

  h2 {
    font-family: 'Questrial', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 4rem;
  }

  .leadersGrid {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
  }
}

.leaderCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  text-align: center;
}

.leaderImg {
  width: 108px;
  height: 140px;
  object-fit: cover;
  border-radius: 0; 
  margin-bottom: 1rem;
}

.leaderCard h3 {
  font-size: 1.15rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: -0.25rem;
}

.leaderRole {
  color: #e63946;
  font-size: 1rem;
  font-weight: 500;
}

.divisions {
  background: #000;

  h2 {
    font-family: 'Questrial', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 4rem;
    text-align: center;
  }

  .divisionsContainer {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
}

.division {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  text-align: left;

  @media (min-width: 768px) {
    flex-direction: row;

    &.reverse {
      flex-direction: row-reverse;
    }
  }
}

.divisionImg {
  width: 100%;
  max-width: 450px;
  height: 229px;
  border-radius: 0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.divisionText {
  color: #ffffff;
  max-width: 550px;
  font-size: 1.05rem;
  line-height: 1.7;

  .accentText {
    color: #e63946;
    font-weight: 500;
  }
}

.contact {
  background: #000;
  font-family: 'Questrial', sans-serif;

  h2 {
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 4rem;
  }

  .contactContent {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}

.contactImg {
  width: 100%;
  max-width: 538px;
  height: 254px;
  border-radius: 0.1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: left;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 1rem;

  p {
    color: #cecece;
    font-size: 1.15rem;
    line-height: 1.5;
  }
}

.contactIcon {
  width: 22px;
  height: 22px;
  filter: invert(39%) sepia(92%) saturate(4019%) hue-rotate(341deg) brightness(90%) contrast(93%);
  
}

@media (max-width: 768px) {
  /* General adjustments */
  .container {
    padding: 0 1rem;
  }

//   .navbar .container {
//     flex-direction: row;
//     align-items: center;
//     gap: 0.75rem;
//   }

//   .logo {
//     margin-left: 0;
//     justify-content: center;
//   }

//   .logoImg {
//     width: 70px;
//     height: auto;
//   }

//   .navLinks {
//     flex-direction: column;
//     gap: 0.5rem;
//     margin: 0;
//     padding: 1rem 0;
//   }

//   .contactBtn {
//     margin: 0;
//     padding: 0.6rem 1.2rem;
//     font-size: 0.5rem;
//   }

  /* Hero Section */
  .hero {
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 1rem;
    height: 100vh;
    text-align: left;
  }

  .hero .heroContent {
    position: relative !important;
    margin: 0 auto;
    padding-bottom: 3rem;
  }

  .hero h1 {
    font-size: 1.3rem !important;
    width: 100%;
    margin-left: 0;
  }

  .hero .tagline {
    font-size: 1rem;
    margin-left: 0;
    margin-bottom: 0.5rem;
  }

  .scrollHint {
    margin: 1rem auto;
    font-size: 0.85rem;
    justify-content: center;
  }

  /* About Section */
  .about .aboutContent {
    flex-direction: column;
    padding: 0 1rem;
    gap: 2rem;
  }

  .aboutImg {
    width: 100%;
    max-width: 100%;
  }

  .aboutText {
    font-size: 1rem;
    text-align: left;
  }

  /* Achievements Section */
  .achievementsGrid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    padding: 0 1rem;
  }

  .achievementCard {
    padding: 1.5rem;
    flex-direction: column;
    text-align: center;
  }

  /* Leaders Section */
  .leadersGrid {
    gap: 2rem;
  }

  .leaderCard {
    width: 150px;
  }

  .leaderImg {
    width: 100px;
    height: 120px;
  }

  .leaderCard h3 {
    font-size: 1rem;
  }

  .leaderRole {
    font-size: 0.9rem;
  }

  /* Divisions Section */
  .division {
    flex-direction: column !important;
    text-align: left;
    padding: 0 1rem;
  }

  .divisionImg {
    max-width: 100%;
    height: auto;
  }

  .divisionText {
    font-size: 1rem;
    line-height: 1.6;
  }

  /* Contact Section */
  .contactContent {
    flex-direction: column;
    padding: 0 1rem;
    gap: 2.5rem;
  }

  .contactImg {
    max-width: 100%;
    height: auto;
  }

  .contactItem p {
    font-size: 1rem;
  }

  :global(h2) {
    font-size: 1.8rem !important;
  }
}
.contactBtn {
    background: linear-gradient(to right, #450121 0%, #A2051A 100%);
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-size: 0.85rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin-right: 0rem;
    
    &:hover {
        background: linear-gradient(to right, darken(#450121, 5%) 0%, darken(#A2051A, 5%) 100%);
        transform: translateY(-2px);
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    }

  @media (max-width: 768px) {
    display: none; 
  }
}
.mobileContact {
  display: none; 

  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    margin-left: -5rem;

    button {
      background: linear-gradient(to right, #450121 0%, #a2051a 100%);
      color: #fff;
      border: none;
      padding: 0.75rem 1.5rem;
      border-radius: 0.25rem;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.3s ease;
      text-transform: uppercase;
      font-size: 0.85rem;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

      &:hover {
        background: linear-gradient(
          to right,
          darken(#450121, 5%) 0%,
          darken(#a2051a, 5%) 100%
        );
        transform: translateY(-2px);
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
      }
    }
  }
}


:global(::-webkit-scrollbar) {
  display: none;
}

:global(html) {
  scrollbar-width: none; 
}

:global(body) {
  -ms-overflow-style: none; 
}
